@media print {
  .reveal aside.notes {
    display: none;
    font-size: medium;
    padding: 24px;
    border: 1px solid black;
    margin-top: 24px;
  }

  .pdf-page > section {
    padding-top: 12px;
  }

  .org-src-container button {
    display: none;
  }
}
