#reveal-styles {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

#editor {
  height: 100%;
  text-align: center;
  display: none;
}

#editor > div {
  display: grid;
  grid-template-columns: 33% 0.5% 33% 0.5% 33%;
  width: 100%;
  height: 84%;
}

#editor > div > div {
  border: 0 none;
  padding: 0;
  font-size: 2em;
  text-align: left;
  background-color: #fff;
}

#editor > div > div.gutter {
  cursor: ew-resize;
  display: flex;
  align-items: center;
  background-color: #ccc;
}

#html-output > iframe {
  height: calc(100% - 6px);
  width: 100%;
  border: none;
}

pre > button {
  height: 42px;
  margin-top: -21px;
  position: absolute;
  right: -100px;
  top: 50%;
  width: 84px;
}

/* Resize code preview */
.reveal pre {
  width: auto;
}

.reveal pre code {
  max-height: initial;
}

/* Highlight table row */
section table tbody tr:nth-child(odd){
  background: rgba(0, 255, 0, 0.06);
}

section table tbody tr:nth-child(even){
  background: rgba(0, 0, 255, 0.06);
}

/* Hide section number */
h1>span, h2>span, h3>span, h4>span {
  display: none;
}

.reveal pre.src-text-center {
  text-align: center;
}

.CodeMirror {
  height: 100%;
}

#editor .CodeMirror {
  height: 84vh;
}

.reveal pre.CodeMirror-line {
  box-shadow: none;
}

